/* CSS Document */

h1 {
	text-align: center;
	color: yellow;
	text-shadow: 3px;
	
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Verdana", "sans-serif";
	font-size: 16px;
	background-color: #009999;
}

article {
	background: url("pozadie.png");
}

article header {
	width: 100%;
	padding: 10px;
	margin: 25px;
	background: url("pozadie_header.png");
}

article section {
	text-align: center;
	width: 70%;
	background: white;
	padding: 100px;
	margin: 0px auto;
	border: 2px solid black;
	border-radius: 20px;
	
}